.advantages-card {
  &:not(:last-child) {
    @include media('tablet', max) {
      margin-bottom: 30px;
    }
  }

  @include media('tablet') {
    flex-basis: calc((100% - (#{$flexItemsLine})) / 2);
  }

  @include media('desktop') {
    flex-basis: calc((100% - (#{$flexItemsLine} * 3)) / 4);
  }
}

.advantages-card__wrap {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
  padding: 25px;

  background-color: getColor('bg-secondary');
  border-radius: 4px;
}

.advantages-card__title {
  margin-bottom: 10px;

  @include fontProportions(14px, 1.14);
  text-transform: uppercase;

  @include media('tablet', max) {
    text-align: center;
  }
}
.advantages-card__text {
  @include fontProportions(14px, 1.71);

  color: getColor('text-secondary');
}
