.customer-card {
  flex-basis: calc((100% - (#{$flexItemsLine} * 5)) / 6);
}

.customer-card__link {
  display: flex;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  color: getColor('brand-icon');

  border: 1px solid getColor('brand-icon');
  border-radius: 4px;

  $value-list: color, border-color;
  @include animated($value-list);

  &:hover,
  &:link {
    color: getColor('accent');
    border-color: getColor('accent');
  }
}

.customer-card__icon {
  margin: auto;

  fill: currentColor;
}
