.header {
  border-bottom: 1px solid getColor('header-border');

  &__container {
    display: flex;
    align-items: center;
  }

  // Logo modifier
  &__logo {
    color: getColor('logo-secondary');
  }
}

// Navigation
.nav {
  display: none;

  @include media('tablet') {
    display: block;
    margin-left: 93px;
  }
}
.nav__items {
  display: flex;
  gap: 50px;
}
.nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  @include fontProportions(14px, 1.143, 0.02em);

  @include animated(color);

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  &--current {
    position: relative;

    color: getColor('accent');

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 4px;

      background-color: getColor('accent');
      border-radius: 2px;
    }
  }
}

// Contacts
.header-contact {
  display: none;

  @include media('tablet') {
    display: flex;
    gap: 30px;
    margin-left: auto;

    color: getColor('text-secondary');
  }
}
.header-contact__link {
  @extend .nav__link;

  display: flex;
  align-items: center;
  gap: 10px;
}
.header-contact__icon {
  fill: currentColor;
}
