body {
  font-family: 'Roboto', sans-serif;
  color: getColor('text-prime');

  background-color: getColor('light');
}

.section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  padding-right: 15px;
  padding-left: 15px;
}
