// Parameters for the font
@mixin fontProportions($size, $height, $spacing: 0.03em) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

// Animation of transitions
@mixin animated($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
