// Color map
$colors: (
  'text-prime': #212121,
  'text-secondary': #757575,

  'accent': #2196f3,
  'light': #ffffff,

  'bg-dark': #2f303a,
  'bg-secondary': #f5f4fa,
  'bg-reserve': #c4c4c4,

  'btn-hover': #188ce8,
  'brand-icon': #afb1b8,

  'header-border': #ececec,
  'logo-secondary': #000000,
);
@function getColor($key) {
  @return map-get($colors, $key);
}

// Indentation between cards in sections
$flexItemsLine: 30px;

// Button styles
%btn {
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: getColor(light);

  background-color: getColor(accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  @include animated(background-color);

  &:hover,
  &:focus {
    background-color: getColor('btn-hover');
  }
}

// Visually-hidden
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
